/* ======= GENERAL ======= */

body {
  
  font-family: sans-serif;
  
}

.vert-mid {
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  
}

.title {
  
  font-size: 200%;
  color: darkgray;
  
}

.body {
  
  font-size: 150%;
  font-weight: lighter;
  
}

/* ======= LOGIN ======= */

#login {  /* has vert-mid class */
  
  width: 40%;
  height: 70%;
  
}

#login-title {
  
  height: 15%;
  width: 100%;
  text-align: center;
  font-size: 150%;
  padding: 5px;
  
  
}

#login-box {
  
  position: relative;
  height: 85%;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #E9E9E9;
  
}

#login-icon {
  
  position: relative;
  height: 60%;
  width: 100%;
  
}

#login-icon-txt {  /* has vert-mid class */
  
  font-size: 20vh;
  color: darkgray;
  
}

#login-texts {
  
  position: absolute;
  height: 30%;
  width: 100%;
  top: 50%;
  font-size: 150%;
  
}

#login-submit {
  
  position: absolute;
  height: 20%;
  width: 100%;
  top: 77%;
  
}

/* ======= MENU BAR ======= */

#menubar {
    
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    text-align: center;
    
}

/* ======= INPUTS ======= */

.input-text {
  
  -webkit-appearance: none;
  width: 100%;
  height: 40%;
  border: solid 1px lightgray;
  background-color: white;
  padding: 5px;
  transition: background-color 0.3s;
}

.input-text:active, .input-text:focus {
  
  background-color: lightgray;
  transition: background-color 0.3s;
  outline: none;
  
}

.btn {
  
  -webkit-appearance: none;
  padding: 15px;
  border: none;
  border-radius: 13px;
  background-color: gray;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  font-size: 100%;
  
}

.btn:active, .btn:focus {
  
  background-color: lightgray;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  
}

.btn-blue {
  
  background-color: #0076FF;
  
}
